$colors: (
    pr-bright-orange: hsl(31, 77%, 52%),
    pr-dark-cyan: hsl(184, 100%, 22%),
    pr-very-dark-cyan: hsl(179, 100%, 13%),
    nt-transparent-white-text: hsla(0, 0%, 100%, 0.75%), 
    nt-very-light-gray: hsl(0, 0%, 95%),
);

$f-size-title: 2.6rem;
$f-size-text: 1rem;